<p> USER PRO HOME PAGE</p>

 <p>
<% if userpro_signed_in? %>
  Logged in as <strong><%= current_userpro.email %></strong>.
  <%= link_to 'Edit profile', edit_userpro_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_userpro_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_userpro_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_userpro_session_path, :class => 'navbar-link'  %>
  <%= link_to "Back", root_path, :class => 'navbar-link'  %>
<% end %>
</p>
