<h1>Dernieres offres</h1>

<% @JobOffers.each do |offer| %>
	<div class="JobOffer">
<p> Titre </p> 		<h2><%= offer.title %></h2>
<p> date </p>		<h2><%= offer.date %></h2>
<p> descirption</p>		<h2><%= offer.description %></h2>
<p> ville </p>		<h2><%= offer.city %></h2>
<p> category </p>		<h2><%= offer.category %></h2>
<p> Id de la candidature </p>		<h2><%= offer.candidacies.ids %></h2> 

	
	<%= link_to "Apply", new_candidacy_path(job_offer_id: @job_offer_id) %>
		
		<p><%= link_to "voir offre", JobOffer %></p>


	</div></br></br></br>



	<%end %>




