<div class="container">
<div>
<h1>Dernieres offres</h1>
</div>
<div class="ok"
<% @JobOffers.each do |offer| %>
	<div class="JobOffer">
<div><p>Titre: <%= offer.title %></p></div>
<div><p> date: <%= offer.date %></p></div>
<div><p> descirption: <%= offer.description %></p></div>
<div><p> ville: <%= offer.city %></p></div>
<div><p> category: <%= offer.category %></p></div>

<div><%= link_to "Apply", new_candidacy_path(job_offer_id: @job_offer_id) %> | <%= link_to "voir offre", JobOffer %></div>

</br>
</br>
</br>
	<%end %>
</div>
</div>




